<div class="container py-3">
  <h1>会員一覧</h1>
  
  <table class="table table-bordered">
    <tr><thead class="thead-dark">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </thead></tr>
    
    <% @customers.each do |customer| %>
    <tbody>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, edit_admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted %>
            退会済み
          <% else %>
            有効
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
    
    <!--ページネーションの使い方は？-->
    <!--<nav aria-label="Page navigation">-->
    <!--  <ul class="pagination">-->
    <!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
    <!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
    <!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
    <!--    <li class="page-item">-->
    <!--      <a class="page-link" href="#" aria-label="Next">-->
    <!--        <span aria-hidden="true">&laquo;</span>-->
    <!--      </a>-->
    <!--    </li>-->
    <!--    <li class="page-item">-->
    <!--      <a class="page-link" href="#" aria-label="Last">-->
    <!--        <span aria-hidden="true">&raquo;</span>-->
    <!--      </a>-->
    <!--    </li>-->
    <!--  </ul>-->
    <!--</nav>-->
    
  </table>
</div>