<h1>会員一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  
  <% @customers each do |customer| %>
    <tbody>
      <tr>
        <td>
          <%= customer_id %>
          <%= link_to customer.name, admin_customer_path(customer_id) %>
          <%= customer_email %>
          <%= status %>
        </td>
      </tr>
    </tbody>
  <% end %>
  
  <!--ページネーションの使い方は？-->
  <!--<nav aria-label="Page navigation">-->
  <!--  <ul class="pagination">-->
  <!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
  <!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
  <!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
  <!--    <li class="page-item">-->
  <!--      <a class="page-link" href="#" aria-label="Next">-->
  <!--        <span aria-hidden="true">&laquo;</span>-->
  <!--      </a>-->
  <!--    </li>-->
  <!--    <li class="page-item">-->
  <!--      <a class="page-link" href="#" aria-label="Last">-->
  <!--        <span aria-hidden="true">&raquo;</span>-->
  <!--      </a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <!--</nav>-->
  
</table>